@charset "UTF-8";
/*
	构建于11/10/2024
*/

:root {
	--color-html: #F5F5F5;
	--color-body: #F5F5F5;
	--color-nav: #EEEEEE;
	--color-menu: #CCCCCC;
	--margin-body: 1em;
	--margin-horizontal-body: 1em;
	--margin-vertical-body: 1em;
	--margin-left-body: 1em;
	--margin-right-body: 1em;
	--margin-top-body: 1em;
	--margin-bottom-body: 1em;
	--padding-body: 1em;
	--padding-horizontal-body: 1em;
	--padding-vertical-body: 1em;
	--padding-left-body: 1em;
	--padding-right-body: 1em;
	--padding-top-body: 1em;
	--padding-bottom-body: 1em;
}