@import '/assets/css/root.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--body-backgroundcolor);
}
.nav-wrapper {
    position: sticky;
    z-index: 1000;
    top: 0;
    height: var(--navwrapper-height);
    margin-bottom: var(--navwrapper-marginbottom);
    padding: 0 var(--navwrapper-paddinghorizontal);
    background-color: var(--navwrapper-backgroundcolor);
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 var(--navwrapper-gap);
    .label-menu {
        position: absolute;
        left: 0;
        height: var(--navwrapper-height);
        width: var(--navwrapper-height);
        background-color: var(--menu-backgroundcolor);
        display: none;
    }
    .placeholder-nav {
        order: 2;
        flex: 1 1 auto;
    }
    .placeholder-nav:empty {
        background-color: tomato;
        height: 30%;
    }
    .nav-container {
        display: contents;
        .nav-left {
            order: 1;
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 0 var(--nav-gap);
        }
        .nav-right {
            order: 3;
            flex: 1 0 auto;
            max-width: 50%;
            display: flex;
            align-items: center;
            justify-content: right;
            gap: 0 var(--nav-gap);
        }
        .nav-left:empty {
            background-color: aqua;
            width: 100px;
            height: 50%;
        }
        .nav-right:empty {
            background-color: yellowgreen;
            height: 80%;
        }
    }
}
.main-wrapper {
    margin: 0 var(--mainwrapper-marginhorizontal);
    background-color: var(--mainwrapper-background-color);
    display: flex;
    justify-content: space-between;
    gap: 0 var(--mainwrapper-gap);
    .aside-allwrapper {
        display: contents;
        .label-asideall {
            order: 2;
            width: var(--labelaside-width);
            border-radius: 0 calc(var(--labelaside-width) * 2 / 3) calc(var(--labelaside-width) * 2 / 3) 0;
            background-color: var(--labelaside-backgroundcolor);
            display: none;
        }
        .aside-all {
            display: contents;
            .aside-leftwrapper {
                order: 1;
                flex: 0 0 auto;
                position: sticky;
                top: var(--navwrapper-height);
                height: calc(100vh - var(--navwrapper-height));
                display: flex;
                .label-asideleft {
                    order: 2;
                    width: var(--labelaside-width);
                    border-radius: 0 calc(var(--labelaside-width) * 2 / 3) calc(var(--labelaside-width) * 2 / 3) 0;
                    background-color: var(--labelaside-backgroundcolor);
                }
                .aside-left {
                    order: 1;
                    width: var(--asideleft-width);
                    padding: var(--asideleft-padding);
                    overflow-y: auto;
                    background-color: var(--asideleft-backgroundcolor);
                }
                .aside-left:empty {
                    background-color: #3CFEFE;
                }
                .checkbox-asideleft:checked ~ .aside-left {
                    display: none;
                }
            }
            .aside-rightwrapper {
                order: 3;
                flex: 0 0 auto;
                position: sticky;
                top: var(--navwrapper-height);
                height: calc(100vh - var(--navwrapper-height));
                display: flex;
                .label-asideright {
                    order: 1;
                    width: var(--labelaside-width);
                    border-radius: calc(var(--labelaside-width) * 2 / 3) 0 0 calc(var(--labelaside-width) * 2 / 3);
                    background-color: var(--labelaside-backgroundcolor);
                }
                .aside-right {
                    order: 2;
                    width: var(--asideright-width);
                    padding: var(--asideright-padding);
                    overflow-y: auto;
                    background-color: var(--asideright-backgroundcolor);
                }
                .aside-right:empty {
                    background-color: #98CF31;
                }
                .checkbox-asideright:checked ~ .aside-right {
                    display: none;
                }
            }
        }
    }
    .main {
        order: 2;
        flex: 1 1 auto;
        width: 100%;
        padding: var(--main-padding);
        background-color: var(--menuwrapper-backgroundcolor);
    }
    .main:empty {
        background-color: #FA6749;
        height: 1000px;
    }
}
@media (max-width: 992px) {
    .main-wrapper {
        .aside-allwrapper {
            order: 1;
            flex: 0 0 auto;
            position: sticky;
            top: var(--navwrapper-height);
            height: calc(100vh - var(--navwrapper-height));
            display: flex;
            .label-asideall {
                order: 2;
                display: block;
            }
            .aside-all {
                order: 1;
                width: var(--asideall-width);
                padding: var(--asideall-padding);
                display: flex;
                flex-direction: column;
                gap: var(--asideall-gap) 0;
                overflow-y: auto;
                background-color: var(--asideall-backgroundcolor);
                .aside-leftwrapper {
                    display: contents;
                    order: 2;
                    .label-asideleft {
                        display: none;
                    }
                    .aside-left {
                        overflow-y: visible;
                        width: 100%;
                        background-color: transparent;
                    }
                    .aside-left:empty {
                        height: 100px;
                    }
                }
                .aside-rightwrapper {
                    order: 1;
                    display: contents;
                    .label-asideright {
                        display: none;
                    }
                    .aside-right {
                        overflow-y: visible;
                        width: 100%;
                        background-color: transparent;
                    }
                    .aside-right:empty {
                        height: 100px;
                    }
                }
            }
            .checkbox-asideall:checked ~ .aside-all {
                display: none;
            }
        }
    }
}
@media (max-width: 768px) {
    .nav-wrapper {
        padding-left: calc(var(--navwrapper-height) + 2*var(--navwrapper-gap));
        .label-menu {
            display: block;
        }
    }
    .main-wrapper {
        .aside-allwrapper {
            position: fixed;
            z-index: 999;
            top: 0;
            left: calc(-1 * (var(--menuwrapper-width) + 3px));
            transition: left 400ms ease;
            .label-asideall {
                display: none;
            }
            .aside-all {
                padding: var(--menuwrapper-padding);
                padding-top: calc(var(--navwrapper-height) + var(--menuwrapper-padding));
                width: var(--menuwrapper-width);
                height: 100vh;
                overflow-y: auto;
                background-color: var(--menuwrapper-backgroundcolor);
                box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5);
            }
        }
        .checkbox-menu:checked ~ .aside-allwrapper {
            left: 0;
        }
    }

}