* {
    margin: 0;
    padding: 0;
}
body {
    background-color: whitesmoke;
}
main {
    margin: 0 1em;
}
.web-nav {
    position: sticky;
    top: 0;
    /* 使导航栏成为弹性盒子 */
    display: flex;
    /* 左右导航栏两端对齐 */
    justify-content: space-between;
    /* 左右导航栏顶部对齐 */
    align-items: flex-start;
    /* 列间距设置为1em */
    gap: 0 1em;
    margin-bottom: 1.2em;
    padding: 0.5em;
    background-color: #EEEEEE;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.homeIcon {
    margin-left: 1em;
}
.left-nav {
    /* 左侧导航栏既不可膨胀也不可压缩，根据内容决定自身占据长度 */
    flex: 0 1 auto;
    /* 使左侧导航栏成为弹性盒子 */
    display: flex;
    /* 元素间水平居中对齐 */
    align-items: center;
    /* 列间距设置为0.5em */
    gap: 0 0.5em;
}
.right-nav {
    margin-right: 1em;
    /* 右侧导航栏既可以膨胀也可以压缩，根据内容决定自身占据长度 */
    flex: 1 1 auto;
    /* 使左侧导航栏成为弹性盒子 */
    display: flex;
    /* 宽度不足时元素进行换行 */
    flex-wrap: wrap;
    /* 元素右侧对齐 */
    justify-content: flex-end;
    /* 元素间水平居中 */
    align-items: center;
    /* 列间距设置为1em */
    gap: 0.5em 1em;
    /* 最大膨胀值不超过导航栏的一半 */
    max-width: 50%;
}
.dividingLine {
    flex: 0 0 auto;
    align-self: stretch;
    width: 0.2em;
    background-color: black;
    border-radius: 0.25em;
}
.path {
    line-height: 1.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 0;
    max-height: 3.5em;
    overflow-y: auto;
}
.path > span::before {
    content: '»';
}
.path > span:first-child::before {
    content: '';
}
.searchForm {
    /* 搜索栏既可以膨胀也可以压缩，根据内容决定自身占据长度 */
    flex: 1 1 auto;
    /* 使左侧导航栏成为弹性盒子 */
    display: flex;
    gap: 0 0.5em;
    height: 1.5em;
}
.themeForm {
    display: flex;
    gap: 0 0.5em;
    align-self: center;
    height: 1.5em;
}
.searchBox {
    width: 100%;
    min-width: 110px;
}
.searchSubmit {
    padding: 0 0.5em;
}

@media (max-width:600px) {
    .left-nav {
        display: none;
    }
    .dividingLine {
        display: none;
    }
    .right-nav {
        max-width: 100%;
    }
    .themeForm {
        display: none;
    }
}