:root {
    --body-backgroundcolor: rgba(240, 240, 240, 1);

    
    --navwrapper-height: 2.5em;
    --navwrapper-paddinghorizontal: 0.5em;
    --navwrapper-marginbottom: 1.2em;
    --navwrapper-gap: 0.5em;
    --navwrapper-backgroundcolor: rgba(220, 220, 220, 1);
    --navwrapper-gap:0.5em;
    --navwrapper-boxshadow-gauss: 0.1em;
    --navwrapper-boxshadow-color: rgba(0, 0, 0, 0.25);

    --navleft-gap: 1em;
    --navright-gap: 1em;
    

    --mainwrapper-marginhorizontal: 0.5em;
    --mainwrapper-background-color: inherit;
    --mainwrapper-gap: 0.5em;


    --menu-backgroundcolor: rgba(150, 150, 150, 1);
    --menubar-backgroundcolor: rgba(35, 35, 35, 1);
    --menucontainer-width: 15em;
    --menucontainer-padding: 0.5em;
    --menucontainer-backgroundcolor: rgba(220, 220, 220, 1);
    --menucontainer-gap: 1em;
    --menucontainer-boxshadow-gauss: 0.5em;
    --menucontainer-boxshadow-color: rgba(0, 0, 0, 0.2);


    --labelaside-backgroundcolor: rgba(150, 150, 150, 1);
    --labelaside-width: 1em;
    --singleaside-padding: 0.5em;
    --singleaside-backgroundcolor: rgba(200, 200, 200, 1);
    --singleaside-width: 18em;
    --singleaside-gap: 1em;


    --labelasideleft-backgroundcolor: rgba(150, 150, 150, 1);
    --labelasideleft-width: 1em;
    --asideleft-backgroundcolor: rgba(200, 200, 200, 1);
    --asideleft-width: 18em;


    --labelasideright-backgroundcolor: rgba(150, 150, 150, 1);
    --labelasideright-width: 1em;
    --asideright-backgroundcolor: rgba(200, 200, 200, 1);
    --asideright-width: 15em;

    --asideleft-padding: 0.5em;
    --asideright-padding: 0.5em;


    --main-padding: 0.5em;

}
