@import '/assets/css/root.css';

a {
    text-decoration: none;
    color: inherit;
}

.nav-left > .home-icon {
    height: calc(2 / 3 * var(--navwrapper-height));
}
.nav-left > a {
    transition: border-bottom 200ms ease, font-weight 200ms ease;
}
.nav-left > a:hover {
    font-weight: 900;
    border-bottom: 0.25em solid black;
}


.nav-right > .form-search {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5em;
    height: calc(2 / 3 * var(--navwrapper-height));
}
.nav-right > .form-search > * {
    all: unset;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
    padding: 0 0.5em;
    height: calc(2 / 3 * var(--navwrapper-height));
}
.nav-right > .form-search > .searchbox {
    border-radius: calc(2 / 3 * var(--navwrapper-height));
    background-color: white;
    width: 120px;
    transition: border 400ms ease, flex 400ms ease;
}
.nav-right > .form-search > .submitbutton {
    border-radius: calc(1 / 10 * var(--navwrapper-height));
    background-color: rgb(245, 245, 245);
    white-space: nowrap;
}
.nav-right > .form-search > .searchbox:focus {
    flex: 1 0 auto;
    border: 1px solid rgba(0, 0, 0, 1);
}

.nav-right > .form-theme {
    flex: 0 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: right;
    gap: 0.5em;
    height: calc(2 / 3 * var(--navwrapper-height));
}
.nav-right > .form-theme > .themelabel {
    align-self: center;
    font-size: 1.0em;
}
.nav-right > .form-theme > .selectlist {
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
    border-radius: calc(1 / 10 * var(--navwrapper-height));
}

.menu-container > .nav-right {
    position: sticky;
    transform: translate(calc(-1 * var(--menucontainer-padding)), calc(-1 * var(--menucontainer-padding)));
    top: 0;
    left: 0;
    width: calc(100% + 2 * var(--menucontainer-padding));
    display: flex;
    flex-direction: column;
    gap: 0.5em 0;
    background-color: inherit;
    padding: var(--menucontainer-padding);
    order: 1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .nav-container > .nav-right {
        display: none;
    }
}